<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <label for="exportCountry">Exporting Country:</label>
    <input id="exportCountry" [(ngModel)]="exportCountry" name="exportCountry" placeholder="Enter Exporting Country"
      required>

    <label for="destinationCountry">Destination Country:</label>
    <input id="destinationCountry" [(ngModel)]="destinationCountry" name="destinationCountry"
      placeholder="Enter Destination Country" required>

    <label for="product">Product:</label>
    <input id="product" [(ngModel)]="product" name="product" placeholder="Enter Product" required>

    <button type="submit">Send</button>
  </form>

  <div *ngIf="responseData">
    <h3>Response:</h3>
    <pre>{{ responseData | json }}</pre>
  </div>
</div>